@import './CssVariables.css';

.topSide {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.topSide h2 {
    flex: 1;
    font-size: 28px;
}

.rightSide {
    padding-left: 15px;
}

.bottomSide {
    margin-top: 10px;
}